@tailwind base;
@tailwind components;
@tailwind utilities;

/* add font-primary */

@layer base {
  h1 {
    @apply mb-[3.25rem] mt-[1.625] text-[3.1875rem] font-bold uppercase leading-[3.25rem] lg:text-[5.625rem] lg:leading-[6.5rem];
  }

  h2 {
    @apply mb-[1.625rem] mt-[1.625rem] text-[1.75rem] font-bold uppercase leading-[3.25rem] lg:text-[3.1875rem];
  }

  h3 {
    @apply mb-[0rem] mt-[1.625rem] text-[1.75rem] font-bold uppercase leading-[3.25rem];
  }

  h4 {
    @apply mb-[0rem] mt-[1.625rem] text-[1rem] font-bold uppercase leading-[1.625rem];
  }

  h5 {
    @apply mb-[0rem] mt-[1.625rem] text-[1rem] font-bold uppercase leading-[1.625rem];
  }

  h6 {
    @apply mb-[0rem] mt-[1.625rem] text-[1rem] font-bold uppercase leading-[1.625rem];
  }

  p,
  ul,
  ol,
  pre,
  table,
  blockquote {
    @apply mb-[1.625rem] mt-[0rem];
  }

  ul ul,
  ol ol,
  ul ol,
  ol ul {
    @apply mb-[0rem] mt-[0rem];
  }

  hr,
  .hr {
    @apply mx-px border-[1px] border-solid;
  }

  a,
  button,
  i,
  strong,
  em,
  small,
  code {
    @apply leading-[0];
  }

  sub,
  sup {
    @apply relative align-baseline leading-[0];
  }

  sup {
    @apply -top-[0.5em];
  }
  sub {
    @apply -bottom-[0.25em];
  }
  body {
    @apply font-drukText;
  }
}

@layer utilities {
  .text-stroke {
    -webkit-text-stroke: 2px black;
  }

  .nonagon {
    clip-path: polygon(
      50% 0%,
      83% 12%,
      100% 43%,
      94% 78%,
      68% 100%,
      32% 100%,
      6% 78%,
      0% 43%,
      17% 12%
    );
  }

  .danger-tape {
    background-image: linear-gradient(
      135deg,
      white 12.5%,
      #000000 12.5%,
      #000000 50%,
      white 50%,
      white 75%,
      #000000 75%,
      #000000 100%
    );
  }
  .clearance-tape {
    border-right: 10px solid pink;
    border-image: repeating-linear-gradient(
        -55deg,
        #000,
        #000 20px,
        #ffb101 20px,
        #ffb101 40px
      )
      10;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: #ffffff #000000;
}

*::-webkit-scrollbar {
  width: 20px;
}

*::-webkit-scrollbar-track {
  background: #000000;
}

*::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 4px;
  border: 4px none #ffffff;
}

/* https://scroll-driven-animations.style/demos/reverse-scroll/waapi/ */
@keyframes adjust-position {
  /* Start position: shift entire column up, but not so that it goes out of view */
  from {
    transform: translateY(calc(-100% + 100vh));
  }

  /* End position: shift entire column down, but not so that it goes out of view */
  to {
    transform: translateY(calc(100% - 100vh));
  }
}

.column-reversed {
  animation: adjust-position linear forwards;
  animation-timeline: scroll(root block);
}

.image-reflect {
  -webkit-box-reflect: below 0.5em
    linear-gradient(rgb(0 0 0 / 0), rgb(0 0 0 / 0.25));
}
