@tailwind base;
@tailwind components;
@tailwind utilities;

/* add font-primary */

@layer base {
  h1 {
    @apply mb-4 font-druk text-4xl font-bold tracking-tighter group-hover:shadow-[inset_0_-24px_0_0_rgba(109,40,217,1)] md:text-6xl;
  }

  h2 {
    @apply mb-4 font-druk text-5xl font-bold uppercase group-hover:shadow-[inset_0_-20px_0_0_rgba(109,40,217,1)] md:text-8xl;
  }

  h3 {
    @apply mb-8 font-druk text-lg font-bold uppercase md:text-7xl;
  }

  h4 {
    @apply mb-1 font-druk text-5xl font-bold capitalize text-black/90 md:text-7xl;
  }

  h5 {
    @apply font-druk text-xs font-bold md:text-sm;
  }

  h6 {
    @apply font-druk text-lg font-bold uppercase leading-[1.4] tracking-widest text-black/60 md:text-xl;
  }

  p {
    @apply font-youth;
  }

  body {
    /* @apply cursor-[url('../public/assets/cursor/cursor85.png'),auto] text-sm md:text-base; */
  }
  a,
  button {
    /* @apply cursor-[url('../public/assets/cursor/cursor85.png'),auto]; */
    /* @apply cursor-none; */
  }
}

@layer utilities {
  .text-stroke {
    -webkit-text-stroke: 2px black;
  }

  .clip-30 {
    clip-path: polygon(30% 30%, 70% 30%, 70% 70%, 30% 70%);
  }
  .clipX {
    clip-path: polygon(
      50% 0%,
      100% 0,
      75% 50%,
      100% 100%,
      0 100%,
      25% 50%,
      0 0
    );
  }
  .danger-tape {
    background-image: linear-gradient(
      135deg,
      #f2e427 25%,
      #000000 25%,
      #000000 50%,
      #f2e427 50%,
      #f2e427 75%,
      #000000 75%,
      #000000 100%
    );
  }
  .clearance-tape {
    border-bottom: 10px solid pink;
    border-image: repeating-linear-gradient(
        -55deg,
        #000,
        #000 20px,
        #ffb101 20px,
        #ffb101 40px
      )
      10;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: #ffffff #000000;
}

*::-webkit-scrollbar {
  width: 20px;
}

*::-webkit-scrollbar-track {
  background: #000000;
}

*::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 4px;
  border: 4px none #ffffff;
}
